{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div style="text-align: center; max-width: 400px; margin: 4rem auto;">
    <div>
        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url }}" alt="photo">
            {{ target_user.profile.nickname }}
            {{ target_user.profile.status_message }}
        {% else %}
            {% if user == target_user %}
                <a href=" {% url 'profiles:create' %}">Create profile</a>
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if user == target_user %}
            <a href="{% url 'accounts:update' target_user.pk %}">Change Information</a></br>
            <a href="{% url 'accounts:delete' target_user.pk %}">Delete Account</a>
        {% endif %}
    </div>
</div>
{% endblock content %}