{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div style="max-width: 700px; margin: 4rem auto;">
    <div>
        <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="mb-3">
                <h1 class="me-2 d-inline">{{ target_article.title }}</h1>
                {% if user == target_article.writer %}
                    <a style="font-size: 0.6rem;"class="btn btn-outline-info rounded-pill me-2" href="{% url 'articles:update' target_article.pk %}">{{ _('Modify') }}</a>
                    <a style="font-size: 0.6rem;"class="btn btn-outline-danger rounded-pill" href="{% url 'articles:delete' target_article.pk %}">{{ _('Delete') }}</a>
                {% endif %} 
            </div>
            <h4 class="text-center mb-5"><a href="{% url 'accounts:detail' target_article.writer.pk %}">{{ target_article.writer.profile.nickname }}</a></h4>
            <img src="{{ target_article.image.url }} " style="width: 80%; border-radius: 1rem; margin-bottom: 1rem;"/>
            <p style="font-size: 1.5rem;text-align: left;">
                {{ target_article.content|safe}}
            </p>
        </div>
        <hr> 
        <h3 class="text-center">Comments</h3>
        {% for comment in target_article.comments.all %}
            {% include 'comments/detail.html' with comment=comment %}
        {% endfor %}
        {% include 'comments/create.html' with article=target_article %}
    </div>
</div>
{% endblock content %}