@import "footer.css";
@import "header.css";
@import "home.css";
/* Base */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:black;
}
@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
    nav {
        font-size: 10px;
    }
}

@media screen and (max-width:1200px) {
    nav {
        width: 85%;
    }
}

@media screen and (min-width:1200px) {
    nav {
        width: 30%;
    }
}
