.container div {
    width: 250px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.container img {
    width:100%;
    border-radius: 1rem 1rem 0 0;
}