{% load i18n %}

<div style="border: 1px solid #979797; border-radius: 1rem; padding: 5%; text-align:left; margin-bottom: 1rem;">
    <div class="mb-3">
        <strong>
            {{ comment.writer.profile.nickname }}
        </strong>
        &nbsp;&nbsp;&nbsp;
        {{ comment.created_at }}
    </div>
    <div>
        {{ comment.content }}
    </div>
    {% if comment.writer == user %}
        <div style="text-align:right">
            <a href="{% url 'comments:delete' comment.pk %}" class="btn btn-danger rounded-pill ">{{ _('Delete') }}</a>
        </div>
    {% endif %}
</div>